body {
  text-align: center;
  font-family: 'Latin Modern Roman', Verdana, sans-serif;
  padding-top: 10px;
  background-color: #FCFDFF;
}
div#wrapper {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.2;
}
a:link {
  color: #00e;
  text-decoration: underline;
}
a:visited {
  color: #729;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #e00;
}
h1 {font-variant: normal;}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 10px;
}
li { margin: 0; }

.title {
  font-weight: 600;
  font-style: normal;
  border-radius: 3px;
}

.keywords {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.keyword-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keyword-row span {
  background: #e6f7ff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .top-menu {
    padding: 20px 10px;
    gap: 30px;
    font-size: 1.2em;
  }

  .top-menu a {
    font-size: 1.2em;
  }
}

.top-menu a.active {
  font-weight: bold;
  text-decoration: underline;
}

.top-menu {
  padding-top: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
  gap: 80px;

  background-color: #EBF5FF;
}

/* Menu links */
.top-menu a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.top-menu a:hover {
  text-decoration: underline;
}

/* Push page content below menu */
.page-content {
  padding-top: 70px;
}

/* === TABLE STYLING === */
table {
  border-collapse: collapse;
  border-color: #9ABAD9;
  border-spacing: 0;
  margin: 1.2em 0; /* adds space before and after tables */
}

table td {
  background-color: #EBF5FF;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #444;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

table th {
  background-color: #92C7F8;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #000;
  font-weight: 600;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

table .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

table .tg-0lax {
  text-align: left;
  vertical-align: top;
}

p.left   { text-align: left; }
p.right  { text-align: right; }
p.center { text-align: center; }
p.justify { text-align: justify; }
