body {
  text-align: center;
  font-family: 'Latin Modern Roman', Verdana, sans-serif;
}
div#wrapper {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 1.2;
}
a:link {
  color: #00e;
  text-decoration: none;
}
a:visited {
  color: #729;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #e00;
}
h1 {font-variant: normal;}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
li { margin: 0; }

/* === TABLE STYLING === */
table {
  border-collapse: collapse;
  border-color: #9ABAD9;
  border-spacing: 0;
  margin: 1.2em 0; /* adds space before and after tables */
}

table td {
  background-color: #EBF5FF;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #444;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

table th {
  background-color: #409cff;
  border-color: #9ABAD9;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

table .tg-0pky {
  border-color: inherit;
  text-align: left;
  vertical-align: top;
}

table .tg-0lax {
  text-align: left;
  vertical-align: top;
}

p.left   { text-align: left; }
p.right  { text-align: right; }
p.center { text-align: center; }
p.justify { text-align: justify; }
